<h2><%= link_to "Add a Client", new_district_client_path(@district), :class => 'btn btn-large btn-primary' %></h2>
<h2><%= link_to "Add a Worker", new_district_worker_path(@district), :class => 'btn btn-large btn-primary' %></h2>
