<div class="row">
  <form>
    <div class="col-md-2 form-group">
      <%= link_to "Add a Client", new_district_client_path(@district), :class => 'btn btn-lg btn-primary' %>
    </div>
    <div class="col-md-2 form-group">
      <%= link_to "Add a Worker", new_district_worker_path(@district), :class => 'btn btn-lg btn-primary' %>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-lg btn-link circle-glyph" style="font-size:36px;">
        <span><%= link_to '<i class="glyphicon glyphicon-map-marker"></i>'.html_safe, shift_alerts_path(@district)%></span>
      </button>
      <span class="badge badge-notify js-bad-shifts">29</span>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-lg btn-link circle-glyph" style="font-size:36px;">
        <span><%= link_to '<i class="glyphicon glyphicon-bell"></i>'.html_safe, dormant_path(@district)%></span>
      </button>
        <span class="badge badge-notify js-dormant-cases">76</span>
      </div>
    </form>
    </div>
