  <div class="row">
    <div class="col-md-2">
      <%= link_to "Add a Client", new_district_client_path(@district), :class => 'btn btn-lg btn-primary' %>
    </div>
    <div class="col-md-2">
      <%= link_to "Add a Worker", new_district_worker_path(@district), :class => 'btn btn-lg btn-primary' %>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-lg btn-link circle-glyph" style="font-size:36px;">
        <span class="glyphicon glyphicon-map-marker"></span>
      </button>
      <span class="badge badge-notify"><%=@false_shifts.count%></span>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-lg btn-link circle-glyph" style="font-size:36px;">
        <span class="glyphicon glyphicon-bell"></span>
      </button>
        <span class="badge badge-notify"><%=@dormant.count%></span>
      </div>
    </div>
