<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered" >
      <thead>
        <tr>
        <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
