
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background:
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
    ),
  image-url("phone_splash.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
  padding-bottom: 60 px;
  color: white;
  .title {
    padding-top: 30%;
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    text-shadow: 0 1px 0 black;
  }
}

  .badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -35px;
  }

  .btn-round.btn-lg {
    width: 48px;
    height: 48px;
    background-color: blue
  }
